---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import BlockExperience from '../components/BlockExperience.astro';
import BlockFormation from '../components/BlockFormation.astro';
import BlockTecnologies from '../components/BlockTecnologies.astro';
import BlockLanguages from '../components/BlockLanguages.astro';
import BlockAreas from '../components/BlockAreas.astro';
import BlockCourses from '../components/BlockCourses.astro';
---

<Layout title="AlvaroHJ CV">
    <Header />
    <Contact />

    <main>
        <div class="col">
            <BlockExperience />
            <BlockFormation />
            <BlockCourses />
        </div>
        <div class="col">
            <BlockTecnologies />
            <BlockLanguages />
            <BlockAreas />
        </div>
    </main>
</Layout>

<style>
    main {
        max-width: 100rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 2rem 3.2rem;
        gap: 4rem;
    }

    main .col:nth-child(1) {
        flex: 5;
    }

    main .col:nth-child(2) {
        flex: 3;
    }

    @media screen and (min-width: 599px) {
        main {
            flex-direction: row;
        }
    }
</style>
