---
import Block from '../layouts/Block.astro';

const areas = [
    'Trabajo en equipo: colaboración con otros desarrolladores, diseñadores y otras áreas.',
    'Herramientas y tecnologías: conocimiento de frameworks, bibliotecas, sistemas de control de versiones y bases de datos',
    'Resolución de problemas.',
    'Escritura de código limpio, modular, escalable y legible.',
];
---

<Block title="APTITUDES">
    {
        areas.map((area) => {
            return (
                <div class="tag-area">
                    <p>{area}</p>
                </div>
            );
        })
    }
</Block>

<style>
    .tag-area {
        border: 1px solid #cecece;
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        width: fit-content;
        color: #404467;
    }
</style>
