---
import Block from '../layouts/Block.astro';

const languages = [
    {
        name: 'Español',
        level: 6,
    },
    {
        name: 'Ingles',
        level: 2,
    },
];
---

<Block title="IDIOMAS">
    <div class="languages">
        {
            languages.map((language) => (
                <div class="flex">
                    <p class="name">{language.name}</p>
                    <div class="indicator">
                        {Array.from({ length: language.level }, (_, i) => (
                            <div class="high" />
                        ))}
                        {Array.from({ length: 6 - language.level }, (_, i) => (
                            <div class="low" />
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</Block>

<style>
    .languages .indicator {
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
    }

    .languages .indicator div {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        border: 1px solid #404467;
    }

    .languages .indicator div.high {
        background-color: #404467;
    }

    .languages .name {
        font-size: 1.6rem;
        font-weight: 500;
        color: #404467;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>
