---
import Block from '../layouts/Block.astro';

const tecnologies2 = [
    {
        category: 'Frontend',
        tecnologies: [
            'Javascript',
            'HTML',
            'CSS',
            'SASS',
            'Typescript',
            'React',
            'NextJS',
            'Vue',
            'TailwindCSS',
            'Material UI',
            'Bootstrap',
            'Figma',
        ],
    },
    {
        category: 'Backend',
        tecnologies: [
            'NodeJS',
            'Express',
            'MongoDB',
            'Mongoose',
            'PostgreSQL',
            'Sequilize',
            'JSON',
            'Firebase',
            'Docker',
            'GitHub',
        ],
    },
    {
        category: 'Mobile',
        tecnologies: ['Dart', 'Flutter'],
    },
];

const tecnologies = [
    'Javascript',
    'HTML',
    'CSS',
    'PHP',
    'Typescript',
    'Bootstrap',
    'TailwindCSS',
    'Figma',
    'JSON',
    'Firebase',
    'React',
    'NextJS',
    'MaterialUI',
    'Node',
    'Express',
    'MongoDB',
    'Mongoose',
    'PostgreSQL',
    'Sequilize',
    'GitHub',
    'Docker',
    'Dart',
    'Flutter',
];
---

<Block title="TECNOLOGÃAS">
    <div class="tecnologies">
        {
            tecnologies2.map((tecnology) => {
                return (
                    <div class="category">
                        <h3 class="name">{tecnology.category}</h3>
                        <div class="tags">
                            {tecnology.tecnologies.map((tecnology) => {
                                return (
                                    <div class="tag">
                                        <p>{tecnology}</p>
                                    </div>
                                );
                            })}
                        </div>
                    </div>
                );
            })
        }
    </div>
</Block>

<style>
    .tecnologies{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .category {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .category .name {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
    }

    .tags .tag {
        background-color: #5c627a;
        color: white;
        padding: 0.4rem 2rem;
        border-radius: 1rem;
    }
</style>
