---
import Block from "../layouts/Block.astro";

const formations = [
    {
        career: "Bachiller en Ingeniería de Sistemas",
        institution: "Universidad Nacional Mayor de San Marcos",
        facultad: "Facultad de Ingeniería de Sistemas e Informática",
        date: "Mar 2018 - Dic 2022",
    },
]

---

<Block title="FORMACIÓN">
    {
        formations.map((formation) => {
            return (
                <div class="formation">
                    <h4 class="career">{formation.career}</h4>
                    <h5 class="institution">{formation.institution}</h5>
                    <h5 class="facultad">{formation.facultad}</h5>
                    <p class="text-italic">Fecha: {formation.date}</p>
                </div>
            )
        })
    }
</Block>

<style>
    .formation .career {
        font-weight: 700;
        font-size: 2rem;
    }
    .formation .institution {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .formation .facultad {
        font-size: 1.8rem;
        font-weight: 400;
    }
</style>