---
import Block from '../layouts/Block.astro';

const areas = [
    'Desarrollo front-end: HTML, CSS, JavaScript, React.',
    'Desarrollo back-end: Node.js, PostgreSQL, RestAPI.',
    'Desarrollo móvil multiplataforma: FLutter',
];
---

<Block title="ÁREAS DE EXPERIENCIA">
    {
        areas.map((area) => {
            return (
                <div class="tag-area">
                    <p>{area}</p>
                </div>
            );
        })
    }
</Block>

<style>
    .tag-area {
        border: 1px solid #cecece;
        padding: .4rem 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        width: fit-content;
        color: #404467;
    }
</style>
