---
import {Icon} from 'astro-icon';
---

<div class="contact">
    <div class="container">
            <a href="mailto:alvarohuaysara@gmail.com">
                <Icon pack="mdi" name="email" />
                <p>alvarohuaysara@gmail.com</p>
            </a>
            <a href="tel:+51926513695">
                <Icon pack="ic" name="baseline-phone-android" />
                <p>+51 926513695</p>
            </a>   
            <a href="https://www.linkedin.com/in/alvaro-huaysara-jauregui-397537223/" target="_blank">
                <Icon pack="mdi" name="linkedin" />
                <p>/alvaro-huaysara-jauregui-397537223</p>
            </a>    
            <a href="https://github.com/AlvaroHJ21" target="_blank">
                <Icon pack="mdi" name="github" />
                <p>/AlvaroHJ21</p>
            </a>    

    </div>

</div>

<style>
    .contact{
        background-color: #404467;
    }

    .container{
        max-width: 100rem;
        margin: 0 auto;
        display: grid;
        padding: 1rem 0;
        justify-items: center;
        gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container .row{
    }
    
    .container .row:nth-child(1){
        display: flex;
        gap: 2rem;

    }

    .contact a{
        display: flex;
        color: white;
        gap: .4rem;
    }

    .contact a svg{
        width: 2.4rem;
        height: 2.4rem;
    }
</style>
