<header class="header">
    <div class="container">
        <div class="texts">
            <h1 class="heading">ALVARO <span>HUAYSARA</span></h1>
            <h2 class="subtitle">DESARROLLADOR WEB</h2>
            <p>
                <!-- En mi experiencia laboral, he desarrollado soluciones tecnológicas con sistemas web
                y diseño actualizado, enfocado en la facilidad de uso, escalabilidad y rendimiento.
                Mi prioridad es el usuario, y me esfuerzo por ofrecer diseños claros y concisos para
                brindar confianza y seguridad. Me interesa seguir aprendiendo tecnologías nuevas
                para innovar en mi trabajo, mejorando la calidad de los sistemas que desarrollo. Me
                emociona crecer como desarrollador y hacer una contribución significativa en la
                tecnología. -->
                Innovador, proactivo y con capacidad para desarrollar sistemas web con diseños actualizados
                y enfocados en la facilidad de uso, escalabilidad, seguridad y rendimiento. Organizado
                y con capacidad de resolución de problemas e implementación de las mejores prácticas.
                Habilidades de desarrollo web frontend y backend, y trabajo en equipo.
            </p>
        </div>
        <div class="perfil">
            <img src="/perfil.png" alt="perfil" />
        </div>
    </div>
</header>

<style>
    .header {
        background-color: #f6f6f6;
    }
    .container {
        max-width: 100rem;
        margin: 0 auto;
        padding: 4rem 3.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    @media screen and (min-width: 599px) {
        .container {
            flex-direction: row;
        }
    }
    .heading {
        font-size: 3em;
        margin: 0;
        font-weight: 700;
        color: #607fef;
        margin-bottom: 1rem;
    }
    .heading span {
        color: #404467;
        font-weight: 400;
    }
    .subtitle {
        font-size: 1.5em;
        margin: 0;
        font-weight: 400;
        color: #404467;
        margin-bottom: 1rem;
    }
    .texts {
        flex: 1;
    }
    .perfil {
        width: 20rem;
        height: 20rem;
        overflow: hidden;
        border-radius: 50%;
        background-color: white;
        border: 0.4rem solid #404467;
    }
    .perfil img {
        display: block;
        width: 95%;
        margin: 0 auto;
    }
</style>
